<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="bg-gray-50 text-gray-900">

    <!-- Navegación -->
    <%- include('partials/navigation') %>

    <!-- Hero Section -->
    <section class="bg-gradient-to-r from-black via-gray-800 to-black text-white py-12">
        <div class="container mx-auto px-6 flex flex-col-reverse md:flex-row items-center space-y-6 md:space-y-0">
            <div class="md:w-1/2">
                <p class="text-lg md:text-2xl mb-2">Hola, me llamo</p>
                <h1 class="text-4xl md:text-6xl font-bold leading-tight mb-4">Aldair Huamani Rivera<span class="text-green-500">.</span></h1>
                <p class="text-lg md:text-2xl mb-4">
                    Soy un analista de datos, actualmente uso tecnologías como <span class="text-green-400">Power BI</span>, <span class="text-green-400">SQL Server</span>, y <span class="text-green-400">Python</span>, que me ayudan a la limpieza, transformación y visualización de datos para la toma de decisiones.
                </p>
                <p class="text-lg md:text-2xl mb-4">
                    Puedes ver mis repositorios de Github.                    
                </p>
                <P class="text-lg md:text-2xl mb-4">
                    Descargar mi CV <a href="https://drive.google.com/file/d/1KDWOj_kPvpReoIwwYHZZj30Xa_RymP_f/view" target="_blank" class="text-red-400 hover:underline">aquí</a>.
                </P>
                <div class="flex space-x-4">
                    <a href="https://github.com/AldairEduardo" target="_blank" class="px-6 py-2 bg-gray-100 text-black font-bold rounded-full shadow hover:bg-gray-300 transition">GitHub</a>
                    <a href="https://api.whatsapp.com/send?phone=51924003270&text=Hola%20" target="_blank" class="px-6 py-2 bg-gray-100 text-black font-bold rounded-full shadow hover:bg-gray-300 transition">Contáctame</a>
                </div>
            </div>
            <div class="md:w-1/2 flex justify-center">
                <img src="https://i.ibb.co/LkHr9wx/foto-para-linkedin.jpg" alt="Foto de Perfil" class="w-64 h-64 rounded-full object-cover shadow-lg">
            </div>
        </div>
    </section>

    <!-- Habilidades -->
    <section class="py-16 bg-gray-50">
        <div class="container mx-auto px-6">
            <h2 class="text-3xl font-bold text-center mb-8">Habilidades</h2>
            <div class="flex flex-wrap justify-center gap-6">
                <span class="border border-black px-6 py-3 rounded-full text-sm bg-white shadow-md hover:bg-gray-300 transition">HTML, CSS y JavaScript</span>
                <span class="border border-black px-6 py-3 rounded-full text-sm bg-white shadow-md hover:bg-gray-300 transition">Python</span>
                <span class="border border-black px-6 py-3 rounded-full text-sm bg-white shadow-md hover:bg-gray-300 transition">Web Scraping</span>
                <span class="border border-black px-6 py-3 rounded-full text-sm bg-white shadow-md hover:bg-gray-300 transition">Limpieza y análisis de datos con Pandas</span>
                <span class="border border-black px-6 py-3 rounded-full text-sm bg-white shadow-md hover:bg-gray-300 transition">SQL</span>
                <span class="border border-black px-6 py-3 rounded-full text-sm bg-white shadow-md hover:bg-gray-300 transition">Power BI</span>
                <span class="border border-black px-6 py-3 rounded-full text-sm bg-white shadow-md hover:bg-gray-300 transition">Git y GitHub</span>
                <span class="border border-black px-6 py-3 rounded-full text-sm bg-white shadow-md hover:bg-gray-300 transition">Modelamiento de Datos</span>
            </div>
        </div>
    </section>

    <!-- Proyectos -->
    <section class="bg-gradient-to-r from-black via-gray-800 to-black py-16">
        <div class="container mx-auto px-6">
            <h2 class="text-white text-3xl font-bold text-center mb-8">Proyectos</h2>
            <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                <!-- Tarjeta de proyecto -->
                <div class="bg-white p-6 rounded-lg shadow-lg border border-gray-300">
                    <h3 class="text-xl font-bold mb-2">Bot Data Telegram</h3>
                    <div class="flex flex-wrap gap-2 mb-3">
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Python</span>
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Consumo Api</span>
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Telegram</span>
                    </div>
                    <p class="text-sm text-gray-600 mb-3">Se emplea la API de la Reniec para obtener la data de Personas, se usó Librerías como pdfkit, requests y logging.</p>
                    <a href="https://github.com/AldairEduardo/bot_telegrama" target="_blank" class="bg-black text-white py-2 px-4 rounded-full text-sm flex items-center justify-center hover:bg-gray-800 transition">
                        <i class="fab fa-github mr-2"></i> Ver Github
                    </a>
                </div>
                <!-- Repite más tarjetas para otros proyectos -->
                <!-- Tarjeta de proyecto -->
                <div class="bg-white p-6 rounded-lg shadow-lg border border-gray-300">
                    <h3 class="text-xl font-bold mb-2">Web Scrapping a DNI.COM</h3>
                    <div class="flex flex-wrap gap-2 mb-3">
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Python</span>
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">playwright</span>
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Selenium</span>
                    </div>
                    <p class="text-sm text-gray-600 mb-3">Se realizó Scraping con Líbreías playwright para descargar el navegador Chromium y asyncio para el manejo de las clases.</p>
                    <a href="https://github.com/AldairEduardo/WEB-SCRAPING" class="bg-black text-white py-2 px-4 rounded-full text-sm flex items-center justify-center hover:bg-gray-800 transition">
                        <i class="fab fa-github mr-2"></i> Ver Github
                    </a>
                </div>
                <!-- Tarjeta de proyecto -->
                <div class="bg-white p-6 rounded-lg shadow-lg border border-gray-300">
                    <h3 class="text-xl font-bold mb-2">Power BI Telefónica del Perú</h3>
                    <div class="flex flex-wrap gap-2 mb-3">
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Excel</span>
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Base de Datos</span>
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Python</span>
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Pandas</span>
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Power BI</span>
                    </div>
                    <p class="text-sm text-gray-600 mb-3">Se integraron y limpiaron datos con Power Query y Pandas, generando un informe final. <span class="text-red-400">Se encuentra en Privado el Repositorio.</span></p>
                    <a href="https://github.com/AldairEduardo/Power-Bi-Telefonica-del-Per-" target="_blank" class="bg-black text-white py-2 px-4 rounded-full text-sm flex items-center justify-center hover:bg-gray-800 transition">
                        <i class="fab fa-github mr-2"></i> Ver Github
                    </a>
                </div>
                <!-- Tarjeta de proyecto -->
                <div class="bg-white p-6 rounded-lg shadow-lg border border-gray-300">
                    <h3 class="text-xl font-bold mb-2">Bot whatsapp with Llama 3 IA
                    </h3>
                    <div class="flex flex-wrap gap-2 mb-3">
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Python</span>
                        <span class="text-xs bg-gray-200 px-2 py-1 rounded-full">Pandas</span>
                    </div>
                    <p class="text-sm text-gray-600 mb-3">Se hizo uso del Api de whatsapp y LLama 3 para automatizar respuestas a los clientes.</p>
                    <a href="https://github.com/AldairEduardo/Bot-Whatsapp-Llama3-AI" target="_blank" class="bg-black text-white py-2 px-4 rounded-full text-sm flex items-center justify-center hover:bg-gray-800 transition">
                        <i class="fab fa-github mr-2"></i> Ver Github
                    </a>
                </div>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>
